{% macro renderbool(value) -%}
{{ '1' if value else '0' }}
{%- endmacro %}

{%- for port in torrc_socks_ports %}
SOCKSPort {{ port }}
{% endfor %}

{%- for policy in torrc_socks_policies %}
SOCKSPolicy {{ policy }}
{% endfor %}

{%- for log in torrc_logs %}
Log {{ log }}
{% endfor %}
{# Maybe not render if not needed? #}
RunAsDaemon {{ renderbool(torrc_run_as_daemon) }}

{%- if torrc_data_directory %}
DataDirectory {{ torrc_data_directory }}
{% endif %}

{%- if torrc_control_port %}
ControlPort {{ torrc_control_port }}
HashedControlPassword {{ torrc_hashed_control_password }}
CookieAuthentication {{ renderbool(torrc_cookie_authentication) }}
{% endif %}

{%- for service in torrc_hidden_services %}
HiddenServiceDir {{ service.dir }}
{%- for port in service.ports %}
HiddenServicePort {{ port }}
{% endfor %}
{% endfor %}

{%- for port in torrc_or_ports %}
ORPort {{ port }}
{% endfor %}

{%- if torrc_address %}
Address {{ torrc_address }}
{% endif %}

{%- if torrc_outbound_bind_address %}
OutboundBindAddress {{ torrc_outbound_bind_address }}
{% endif %}
{%- if torrc_outbound_bind_address_exit %}
OutboundBindAddressExit {{ torrc_outbound_bind_address_exit }}
{% endif %}
{%- if torrc_outbound_bind_address_or %}
OutboundBindAddressOR {{ torrc_outbound_bind_address_or }}
{% endif %}

{%- if torrc_nickname %}
Nickname {{ torrc_nickname }}
{% endif %}

{%- if torrc_relay_bandwidth_rate %}
RelayBandwidthRate {{ torrc_relay_bandwidth_rate }}
{% endif %}
{%- if torrc_relay_bandwidth_burst %}
RelayBandwidthBurst {{ torrc_relay_bandwidth_burst }}
{% endif %}

{%- if torrc_accounting_max %}
AccountingMax {{ torrc_accounting_max }}
{% endif %}
{%- if torrc_accounting_start %}
AccountingStart {{ torrc_accounting_start }}
{% endif %}

{%- if torrc_contact_info %}
ContactInfo {{ torrc_contact_info }}
{% endif %}

{%- for port in torrc_dir_ports %}
DirPort {{ port }}
{% endfor %}

{%- if torrc_dir_port_front_page %}
DirPortFrontPage {{ torrc_dir_port_front_page }}
{% endif %}

{%- if torrc_my_family %}
MyFamily {{ torrc_my_family }}
{% endif %}

{%- if torrc_exit_relay %}
ExitRelay {{ renderbool(torrc_exit_relay) }}
{% endif %}

{%- if torrc_ipv6_exit %}
IPv6Exit {{ renderbool(torrc_ipv6_exit) }}
{% endif %}

{%- if torrc_reduced_exit_policy %}
ReducedExitPolicy {{ renderbool(torrc_reduced_exit_policy) }}
{% endif %}

{%- for policy in torrc_exit_policies %}
ExitPolicy {{ policy }}
{% endfor %}

{%- if torrc_bridge_relay %}
{# Rise warning if MyFamiliy is set? #}
BridgeRelay {{ renderbool(torrc_bridge_relay) }}
PublishServerDescriptor {{ renderbool(torrc_publish_server_descriptor) }}
{% endif %}

{%- for include in torrc_includes %}
%include {{ include }}
{% endfor %}

{{ torrc_raw }}
